.container {
  display: flex;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 0 6px rgba(43, 37, 87, 0.889);
  background-color: var(--color-primary);
}

.auth-text {
  font-size: 28px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 0;
  color: white;
}

.auth-button {
  margin-top: 30px;
  margin-bottom: 5px;
  background: linear-gradient(to right, #3f51b5 0%, #6173db 100%);
  padding: 0.8rem 0.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.auth-button.login {
  width: 100px;
}

.auth-button.signup {
  width: 236px;
}
