.chatbox {
    display: flex;
    flex-direction: row;
    height: calc(100% - 47px - 69px);
    width: 100%;
}

.profilebox {
    width: 25%;
    
    border-left: 2px solid var(--border);
    border-right: 2px solid var(--border);
    border-top: 2px solid var(--border);
}
.profilebox-container {
    padding: 46px 33px 0 33px;
}

.dialogbox {
    display: flex;
    flex-direction: column;
    width: 75%;
    border-top: 2px solid var(--border);
    border-right: 2px solid var(--border);
}

.message-box {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-bottom: 2px solid var(--border);
    height: 85%;
}

.send-box {
    height: 15%;
    justify-content: center;
    padding: 0 35px;
    align-items: center;
}

.profile {
    background-color: var(--lightblue);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.profile-photo {
    width: 43px;
    height: 43px;
    background-color: #01244C;
    border-radius: 5px;
}

.profile-photo.list {
    width: 30px;
    height: 30px;
    background-color: var(--lightblue);
    border-radius: 3px;
}

.profile-info {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    color: var(--text);
}

.status, .options-item,.messages-logo, .messages-item, .send-box {
    display: flex;
    flex-direction: row;
}

.status-icon {
    margin-top: 6px;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    background-color: chartreuse;
    border-radius: 2px;
}

.profile-nickname {
    font-size: 18px;
}

.status-info {
    font-size: 15px;
}

.options, .messages {
    display: flex;
    flex-direction: column;
    padding: 37px;
}

.option {
    margin-left: 15px;
    color: var(--text);
}

.messages-item {
    margin-bottom: 15px;
}

.message-info {
    margin-left: 15px;
    color: #5A20FF;
}

.messages-logo {
    margin-bottom: 15px;
}

.profile-nickname.list {
    margin-left: 15px;
    color: var(--text);  
}

.input-message{
    height: 39px;
    width: 520px;
    border: 3px solid #13263E;
    border-radius: 5px;
    background-color: transparent;
    align-items: center;
    margin: auto 40px;
}

.message {
    position: absolute;
    padding: 9px 20px;
    max-width: 220px;
    margin-bottom: 17px;
    color: var(--text);
}

.message.sent{
    right: 32px;
    height: auto;
    background-color: var(--sendmes);
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 5px 5px 0 5px;
}

.message.received {
    left: 32px;
    height:auto;
    border-radius: 5px 5px 5px 0;
    background-color: var(--receivemes);
}
.message.received.first {
    margin-bottom: 260px;
}

.message.sent.second {
    margin-bottom: 170px;
}

.message.received.third {
    margin-bottom: 106px;
}

.message.sent.forth {
    margin-bottom: 38px;
}

