.chatbox {
    display: flex;
    flex-direction: row;
    height: calc(100% - 47px - 68px);
}

.profilebox {
    width: 25%;
    padding: 46px 33px 0 33px;
    border-left: 2px solid var(--border);
    border-right: 2px solid var(--border);
}

.dialogbox {
    display: flex;
    flex-direction: column;
    width: 75%;
    border-right: 2px solid var(--border);
}

.message-box {
    border-bottom: 2px solid var(--border);
    height: 80%;
}

.send-box {
    height: 20%;
}

.profile {
    background-color: var(--lightblue);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.profile-photo {
    width: 43px;
    height: 43px;
    background-color: #01244C;
    border-radius: 5px;
}

.profile-photo.list {
    width: 30px;
    height: 30px;
    background-color: var(--lightblue);
    border-radius: 3px;
}

.profile-info {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    color: var(--text);
}

.status, .options-item,.messages-logo, .messages-item {
    display: flex;
    flex-direction: row;
}

.status-icon {
    margin-top: 6px;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    background-color: chartreuse;
    border-radius: 2px;
}

.profile-nickname {
    font-size: 18px;
}

.status-info {
    font-size: 15px;
}

.options, .messages {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.option {
    margin-left: 15px;
    color: var(--text);
}
.messages-item {
    margin-bottom: 15px;
}

.message-info {
    margin-left: 15px;
    color: #5A20FF;
}

.messages-logo {
    margin-bottom: 15px;
}

.profile-nickname.list {
    margin-left: 15px;
    color: var(--text);
    
}

