* {
  margin: 0;
  padding: 0;
}

:root {
  --color-secondary: #042d5d;
  --color-primary: #243d5e;
  --color-text: #c5c5c5;
  --color-send-message: #5a20ff;
  --color-receive-message: #13263e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainbox {
  background-image: url("../images/backg-signed.png");
  background-size: cover;
  height: 100vh;
}

.mainbox.unsigned {
  padding: 0 239px;
  background-image: url("../images/backg-unsigned.png");
}

.mainbox.signed {
  padding: 0 239px;
  height: 100vh;
  flex-direction: column;
}