* {
  margin: 0;
  padding: 0;
}

:root {
  --border: #042d5d;
  --lightblue: #243D5E;
  --text: #C5C5C5;
  --sendmes: #5A20FF;
  --receivemes: #13263E;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainbox {
  background-image: url("../backg-signed.png");
  background-size: cover;
  height: 100vh;
}

.mainbox.unsigned {
  padding: 0 239px;
  background-image: url("../backg-unsigned.png");
}

.mainbox.signed {
  padding: 0 239px;
  height: 100vh;
  flex-direction: column;
}


.login-text{
	font-size: 28px;
	font-weight: 500;
	margin-top: 25px;
	margin-bottom: 0;
	color: white;
}

.container {
	display: flex;
	align-items: center;
  justify-content: center;
	box-shadow: 0 0 6px rgba(43, 37, 87, 0.889); 
	background-color: var(--lightblue)	;
  
}

.auth-button {
	margin-top: 30px;
  margin-bottom: 5px;
	background: linear-gradient(to right, #3F51B5 0%,#6173DB 100%);
	padding: 0.8rem 0.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  border: none;
	border-radius: 5px;
  outline: none;
  cursor: pointer;
	text-align: center;
}

.auth-button.login {
  width: 100px;
}

.auth-button.signup {
  width: 236px;
}